
.slide {
  transition: 2s ease opacity;
  background-size: 100%;
  position: absolute;
  opacity: 0;
  border-radius: 10px;;
}

.slider {
  display: grid;
  align-self: center;
  justify-self: center;
  width: 600px;
  height: 450px;
  position: relative;
}

#slide1 {
  background-image: url(utils/pEwShVhqWdk.png);
}

#slide2 {
  background-image: url(utils/Me.jpg);
}

#slide3 {
  background-image: url(utils/halfme.png);
}

#slide4 {
  background-image: url(utils/ytxIyHWjPlU.jpg);
}

.slide.selected {
  opacity: 1;
}

@media (max-width: 900px) {
  .slide {
    width: 375px;
    height: 250px;
  }
}

@media (min-width: 900px) {
  .slide {
    width: 600px;
    height: 450px;
  }
}